  <h1>Welcome to {{title}}</h1>
  <h2>My favourite movies</h2>
  <ul class="movies">
    <li *ngFor="let movie of movies"
    [class.selected]="movie === selectedMovie"
    (click)="onSelect(movie)">
      <span class="badge">{{movie.id}}</span>{{movie.name}}
    </li>
  </ul>

  <div *ngIf="selectedMovie">
      <h2>{{selectedMovie.name}} details!</h2>
      <div><label>id: </label>{{ selectedMovie.id }}</div>
  <div>
      <label>title: </label>
      <input [(ngModel)]="selectedMovie.name" placeholder="name" />
    </div>
  </div>
