<div>
    <label>Movie name:</label> <input #movieName />
    <button (click)="add(movieName.value); movieName.value=''">
      Add
    </button>
  </div>
<h1>Welcome to {{title}}</h1>
<h2>My favourite movies</h2>
<ul class="movies">
  <li *ngFor="let movie of movies"
  [class.selected]="movie === selectedMovie"
  (click)="onSelect(movie)">
    <span class="badge">{{movie.id}}</span>
    <span>{{movie.name}}</span>
    <button class="delete"
    (click)="delete(movie); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedMovie">
    <h2>
        {{selectedMovie.name | uppercase}} is my movie
    </h2>
    <button (click)="goToDetail()">View Details</button>
</div>